.menu{
    margin-left: 20%;
    width: 75%;
}
.el_menu_2{
    margin-left: 10px;
    margin-right: 10px;
}
.el_menu{
    display:inline-block;
    border: 1px inset rgb(241, 241, 241);
    width: 25%;
}
.filter{
    margin-top: 0.5%;
    float: left; 
    margin-left: 15%;
    border: 1px inset rgb(241, 241, 241);
    width: 10%;
    padding-bottom: 35%;
}
.main_cont{ 
    margin-top: 0.5%;
    margin-left: 0.8%;
    width: 55%;
    display: inline-block;
    border: 1px inset rgb(241, 241, 241);
}
.shadows{
    box-shadow: 5px 5px 8px gray
}