.main{
    margin: auto;
    width: 90%;
    background-color: blue;
}
.menu{
    margin: auto;
    background-color: aqua;
    width: 70%;
}
.el_menu_2{
    margin-left: 10px;
    margin-right: 10px;
}
.el_menu{
    display: inline-block;
    border: 1px inset rgb(241, 241, 241);
    width: 30.5%;
}
.filter{
    text-align: center;
    margin-top: 0.5%;
    float: left; 
    margin-left: 15%;
    border: 1px inset rgb(241, 241, 241);
    width: 10%;
    padding-bottom: 35%;
}
.main_cont{ 
    margin-top: 0.5%;
    margin-left: 0.8%;
    width: 55%;
    display: inline-block;
    border: 1px inset rgb(241, 241, 241);
}
.shadows{
    box-shadow: 5px 5px 8px gray
}